$aa-red:		      	#ed1c24 !default;
$aa-dark-red: 			#c61a22;
$aa-blue:				#5467b0; 
$aa-teal:				#48c2c7; 
$aa-green:				#8cc864; 
$aa-yellow:				#ffd24f; 
$aa-orange:				#f3901d; 
$aa-pink: 				#ef839f;
$aa-magenta: 			#e9487f;
$aa-purple: 			#5467b0;