body {
	height: auto;
	background: $aa-red;
	
	@media (min-width: $screen-sm-min) {

	padding-top: 20px;
	padding-bottom: 40px;
	
	}
	
	&.share-window {
		background: #FFF;
		padding-top: 0;
	}
	
}

h1 {
	@include setAmericanTypewriter();
	
	&.popup-title {
		color: $aa-red;
		font-size: 26px;
	}
}

h2 {
	color: #FFF;
	@include setAmericanTypewriter();
}

p {
	color: #FFF;
	font-size: 20px;
}


h3 {
	color: #FFF;
}



.img-responsive {
	max-width: 100%;
	height: auto;	
}

.embed-responsive {

   &.embed-responsive-square {
    padding-bottom: 100%;
  }
}



#camvideoWrapper, #finalVideo {
	margin-bottom: 30px;
	position: relative;
	
	#recording {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 5;
		border-radius: 50%;
		width: 20px;
		height: 20px; 
		background-color: $aa-red;
		opacity: 0.9;
		
		-webkit-animation: fadeAnimation 2s infinite;
		-moz-animation: fadeAnimation 2s infinite;
		-o-animation: fadeAnimation 2s infinite;
		animation: fadeAnimation 2s infinite;
		
		display: none;
		
	}
	
	video {
		background: #eee;
		width: 100%;
		height: auto;
		position: relative;
		&#camplayer {
			z-index: 1;
			display: none;
		}
		
		&#camvideo {
			z-index: 2;
			
		}
	}
	
	.red-box-button {
		margin-left: 5px;
		margin-right: 5px;
	}
	
}

.recording-button {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: white !important;
	
	&.start {
		
		background-color: $aa-green;
		border: 1px solid $aa-green;
		
	}
	
	&.stop, &.download-button {
		background-color: $aa-red;
		border: 1px solid $aa-red;
	}
		
	&.play {
		background-color: $aa-purple;
		border: 1px solid $aa-purple;
	}
	
	&.twitter-button {
		background-color: #55acee;
		border: 1px solid #55acee;;
	}
	
		
		
	&:not([disabled]) {
		
		&:hover {
			color: white !important;	
			
			&.stop, &.download-button {
				background: darken($aa-red,10%);
				border-bottom-color: darken($aa-red,10%);
			}
			
			&.start {
				background: darken($aa-green,10%);
				border-bottom-color: darken($aa-green,10%);
			}
			
			&.play {
				background: darken($aa-purple,10%);
				border-bottom-color: darken($aa-purple,10%);
			}
			
			&.twitter-button {
				background-color: darken(#55acee,10%);
				border: 1px solid darken(#55acee,10%);
			}
		}
		
		
	}
	
	&[disabled] {
		opacity: 0.2;
		&:hover {
			color: #FFF !important;	
		}
	}

}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 0;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $aa-red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.error-box {
	background: lighten($aa-red,40%);
	border: 1px solid $aa-red;
	border-radius: 2px;
	margin: 0 0 10px 0;
	padding: 10px;
	
	ul {
		list-style-position: inside;
		list-style-type: disc;
		margin: 0;
		padding: 0;
		
		li {
			margin: 5px 0;
			color: $aa-red;
		}
	}
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#spinner, #spinner-upload, #finalVideo, #getMediaCapture {
	display: none;
}

.sendForm {
	position: relative;
	
	.sending {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255,0.7);
		
		#sendspinner {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
}

.dropzoneWrapper {
	width: 100%;
	position: relative;
	
	#spinner-upload {
		
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: rgba(237,29,36,0.5);
	    
	    .spinner {
		    width: 40px;
		    height: 40px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-left: -20px;
		    margin-top: -20px;
	    }
	    
	    
	    .double-bounce1, .double-bounce2 {
			background-color: #FFF;
  		}
  
  	}
	
	.dropzone-border {
		width: 100%;
//		height: 0;
//		padding-bottom: 100%;
		border: 3px dashed #f8a5a7;
		border-radius: 16px;
		
		&.active {
			@include fadeBackgroundColor();
			&:hover {
				background: darken($aa-red,8%);
				cursor: pointer;
			}
		}
	}
	
	.dropzone-inner {
//		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	
	.dropzone-content {
		text-align: center;
//		padding-left: 50px;
//		padding-right: 50px;

		padding: 50px 50px 50px 40px;
		
//		@include vertical-align();
		
		p, h2 {
			text-align: center;
		}
		
		
	}
	
	#submitButton {
		width: 100%;
		margin-top: 20px;	
	}
	
	#uploadFile {
		background-color: #FFF;
		color: #000;
	}
	
	#dropzoneTrigger {
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	
	
	
	.dz-preview  {
		color: #FFF;
		font-size: 18px;
	}
	
	.dz-image {
		img {
			
		}
		margin-bottom: 10px;
	}
	
	.dropzone-results {
		@include clearfix();	
	}
	
	
	.dz-success-mark, .dz-error-mark {
		display: none;
	}
	
	
	

	
	.dz-progress{
		width: 100%;
	    border: 2px solid #FFF;
	    border-color: rgba(255,255,255,0.6);
	    height: 30px;
	    padding: 1px;
	    margin: 10px 0;
	    border-radius: 20px;
	    position: relative;
	}
	
	.dz-upload {
		width: 0%;
		background: #FFF;
		background: rgba(255,255,255,0.6);
		height: 24px;
		display: block;
		border-radius: 20px;
		position: relative;
		z-index: 1;
	}
	
	.dz-upload-status {
		width: 100%;
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		width:100%;
		color: #FFF;
		text-align: center;
		font-size: 15px;
		line-height: 24px;
		text-shadow: 0 0 1px rgb(237,29,36);
		z-index: 3;
	}
}

.align-wrapper {
	margin: 0 auto;
	
	&.embed-responsive-16by9 {
		max-width: 640px;
	}
	
	&.embed-responsive-square {
		max-width: 480px;
	}
}

.sendForm {
	margin-top: 10px;
}

textarea {
	padding: 10px;
	color: #222;
	font-size: 16px;
	border: 1px solid #e1e8ed;
	border-radius: 3px;
}

.share-body {
	margin-top: 40px;
}

.share-video {
	border: 1px solid #e1e8ed;
	border-radius: 3px;
	margin-top: 20px;
}

.shareWrapper {
	margin: 0 auto;
	width:100%;
	
	.twitter, .facebook, .file-download-button {
		width: 100%;
		margin-bottom: 10px;
	}
	
	@media (min-width: 805px) {

		width: 800px;
		
		&.no-twitter {
			width: 490px;
		}
		
		.file-download-button {
			width: 180px;
			margin-right: 10px;
		}
		
		.twitter, .facebook {
			width: 300px;
		}
		
		.twitter {
			margin-right: 10px;
		}
	}
	
}

.bc-instructions {
	h2 {
		margin-bottom: 20px;
		font-size: 24px;
		@media (min-width: $screen-sm-min) {
			font-size: 30px;
		}
	}
	
	.mobile-message {
		display: inline;
	}
	
	.desktop-message {
		display: none;
	}
	
	@media (min-width: $screen-sm-min) {
		.mobile-message {
		display: none;
	}
	
	.desktop-message {
		display: inline;
	}
	}
	
	ol {
		margin-bottom: 20px;
	}
	
	
	p,li {
		color: #FFF;
		font-size:16px;
		margin-bottom: 0.75em;
		
			@media (min-width: $screen-sm-min) {
font-size: 20px;

			}
	}
	
	ol {
		
	}
}

.counter {
	color: #222;
	
	#charCount {
		
		&.error {
			color: $aa-red;
		}
	}
}

.caseForSupport {
	display: none;
	
	p {
		color: #222;
		line-height: 1.5;
		margin-bottom: 1.2em;
		
		.img-responsive {
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}
	
}

#noTextError {
	display:none;
}
 

@keyframes fadeAnimation {
  0%   { opacity:0.9; }
  50%  { opacity:0; }
  100% { opacity:0.9; }
}
@-o-keyframes fadeAnimation{
  0%   { opacity:0.9; }
  50%  { opacity:0; }
  100% { opacity:0.9; }
}
@-moz-keyframes fadeAnimation{
  0%   { opacity:0.9; }
  50%  { opacity:0; }
  100% { opacity:0.9; }
}
@-webkit-keyframes fadeAnimation{
  0%   { opacity:0.9; }
  50%  { opacity:0; }
  100% { opacity:0.9; }
}






